<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
@if (ViewBag.Title !=null){
    <title>@ViewBag.Title</title>
}
else
{
    <title>CLG ORM</title>
}
@if (ViewBag.Description != null)
{
    <meta name="description" content="@ViewBag.Description" />
}
else
{
    <meta name="description" content="Projects control and calculation system" />
}
@if (ViewBag.Keywords != null)
{
    <meta name="keywords" content="@ViewBag.Keywords" />
}
else
{
    <meta name="keywords" content="orm,project control,crm,clg" />
}
